# Format Style Options - Created with Clang Power Tools
---
AccessModifierOffset: -3
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: All
BasedOnStyle: WebKit
BreakBeforeBraces: Allman
ColumnLimit: 120
ContinuationIndentWidth: 2
IndentWidth: 3
SortIncludes: false
SpaceBeforeCpp11BracedList: false
UseTab: Never
...
